<!DOCTYPE html>
<html>
<head>
    <title>Pengalaman</title>
    <link rel="stylesheet" type="text/css" href="{% static 'apkku/css/style.css' %}">
</head>
<body>
    <h1>Pengalaman</h1>
    <ul>
        <li>Anggota Osis MTs Plus Darul Hufadz (2018-2020)</li>
        <li>Anggota ekskul PMR SMA Tamansiswa Rancaekek (2022)</li>
        <li>Juara 2 lomba tulis puisi di SMA Tamansiswa Rancaekek (2021)</li>
        <li>Juara 1 cerdas cermat di SMA Tamansiswa Rancaekek (2022)</li>
        <li>Anggota BEM Kemakom Universitas Pendidikan Indonesia (2023-Sekarang)</li>
    </ul>
    <a href="{% url 'profil_umum' %}">Kembali ke Profil Umum</a>
</body>
</html>
